@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard Variable;
  }
  pre, code, svg {
    white-space: pre-wrap;
    word-break: break-word; /* 긴 단어도 자동 줄바꿈 */
  }
  body{
    margin: 0px !important;
    padding: 0px !important;
  }
  
  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  