@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


* {
    margin: 0px;
    padding: 0px;
    font-family: Pretendard Variable;
  }
  