flask #==2.3.3
transformers #==4.27.4 #4.33.2
chromadb
langchain
torch
openai
langchain
langchain-community
langchain-openai
langchain-chroma

tf-keras
sentence-transformers #==2.2.2
python-dotenv #==1.0.0
langchain-community

python-gitlab
gitpython

tree-sitter
tree-sitter-javascript
tree-sitter-python
tree-sitter-java
tree-sitter-c
tree-sitter-cpp

gunicorn